@font-face {
  font-family: 'clearSans';
  src: url("fonts/clearsansscreen-bk.woff2")
}


/* WAMMY */

.wammy-container {
  display: flex;
  flex-direction: column;
  background-color: hsl(240, 30.3%, 87.1%);
  border-color: hsl(240, 20%, 9.8%);
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;

  max-height: 60vh;
  min-height: 60vh;
  margin-bottom: 2rem;
}

.wammy-version-tag-container{
  display: flex;
  justify-content: start;
  width: 50%;
  margin-top: 1rem;
  margin-left: 1rem;
}

.wammy-version-tag {
  background-color: hsl(228 100% 60%); /* Blue */
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .3rem;
  padding: .3rem;
  width: max-content;


  border-color: hsl(228 100% 63%);
  border-radius: 3px 3px 3px 3px;
  border-style: outset;
}

.wammy-top {
  display: flex;
  flex-direction: row;
}

.wammy-bottom {
  width: 100%;
  height: 5vh;
  background-color: none;
}


#screensaver-container{
  display: flex;
  align-items: center;
  height: 100vh;
}

#wammyLogo {
  display: block;
  bottom: 24rem;
  opacity: 100%;
  width: 100%;
  background-color: hsl(240, 30.3%, 87.1%); /* Icy Grey */
  padding: 1.8rem 8rem;
  margin: 0;
  border-radius: 0;
  text-align: center;
  transition: 500ms cubic-bezier(1,1.65,.95,1.02);
}

.wammy-logoimage{
  width: 18rem;
  margin-bottom: .8rem;
  /* Two length values and a color */
  filter: drop-shadow(2px 2px .5px hsl(240 13% 6%)) drop-shadow(-2px -2px .5px hsl(240 13% 6%));
}

.wammy-body{
  display: inline-block;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .6rem;
  padding: .6rem 1rem .6rem 1rem;
  border-radius: 1rem;
  width: max-content;
  text-align: center;
  margin: 14px 0 0 0;
  background-color: hsl(32 97% 50%);
}

.bottom-gradient{
  width: 100%;
  display: none;
}

#dia-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 3rem 0 3rem;
}

#dia-container::-webkit-scrollbar-track{
  background: hsl(240, 30.3%, 87.1%);
}


ul {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.user-prompt-container {
  display: flex;
  justify-content: end;
  padding: .8rem;
  margin-bottom: .8rem;
  list-style: none;
  border-radius: 1rem;
  width: 100%;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.user-prompt-container:hover {
  background-color: hsl(228 100% 60% / .9); /* Blue */
  cursor: pointer;
}
.user-prompt-text {
  color: hsl(240 13% 6% ); /* Black */
  background-color: hsl(228 100% 60% / .7); /* Blue */
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  padding: .8rem;
  margin-bottom: .8rem;
  list-style: none;
  border-radius: 1rem;
  width: fit-content;
  max-width: 100%;
  align-self: center;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}



.wammy-response-container {
  display: flex;
  justify-content: start;
  padding: .8rem;
  margin-bottom: .8rem;
  list-style: none;
  border-radius: 1rem;
  width: 100%;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}

.wammy-response-container:hover{
  background-color: hsl(32 97% 50% / .9); /* Orange */
  color: black;
  cursor: pointer;
}

.wammy-response-text {
  color: hsl(240 13% 6% ); /* Black */
  background-color: hsl(32 97% 50% / .7); /* Orange */
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .8rem;
  line-height: 1.4;
  padding: .8rem;
  margin-bottom: .8rem;
  list-style: none;
  border-radius: 1rem;
  width: fit-content;
  max-width: 100%;
  align-self: center;
  transition: 300ms cubic-bezier(.42,0,.81,1.01);
}


.prompt-container{
  display: flex;
  margin: 0 0 0 0;
  width: 100%;
  text-align: center;
  /* padding: 0 8rem; */
}

#prompt-library-container{
  display: none;
  width: 100%;
  font-family: "clearSans", "Arial", sans-serif;
}

.prompt-library-top {
  display: block;
  background-color: gray;
  height: 2rem;
  padding-top: 10px;
}

#prompt-library-list {
  display: block;
  background-color: hsl(240 14% 15%);
  height: 100%;
  list-style: disc inside;
  text-align: start;
  padding: 10px 0 10px 20px;
  margin: 0;
}

#prompt-library-list li:focus {
  background-color: red;
}


#prompt-form{
  display: flex;
  width: 100%;
}


#prompt-input {
  background-color: hsl(240, 30.3%, 87.1%);
  color: hsl(240 13% 6%);

  font-family: "clearSans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.4;

  width: 100%;
  height: 40px;
  max-height: 30vh;

  margin: 0;
  padding: 10px 4px 10px 30px;

  border-color: hsl(240 18% 15%);
  border-radius: 40px 0 0 40px;
  border-style: outset none outset outset;

  resize: none;
  overflow: hidden;

  transition: 145ms cubic-bezier(.42,0,.81,1.01);

}

#prompt-input:hover {
  cursor: pointer;
}

#prompt-input:focus {
  transition: 145ms cubic-bezier(.42,0,.81,1.01);
  outline: none;
  background-color: hsl(240, 30.3%, 85.1%);
  border-style: outset none outset outset;
  cursor: default;
}

#prompt-button {
  background-color: hsl(240, 30.3%, 83.1%);
  color: #000;

  height: 40px;
  max-height: 30vh;
  width: 80px;

  font-family: "clearSans", "Arial", sans-serif;

  border-color: hsl(240 18% 10%);
  border-radius: 0 40px 40px 0;
  padding: 10px 0 10px 0;

  transition: 145ms cubic-bezier(.42,0,.81,1.01);
}

#prompt-button:hover {
  cursor: pointer;
  border-color: hsl(31 100% 44%);
  background-image: linear-gradient(
  55deg,
  hsl(30deg 100% 44%) 0%,
  hsl(31deg 99% 45%) 21%,
  hsl(31deg 98% 47%) 30%,
  hsl(31deg 97% 49%) 39%,
  hsl(32deg 97% 50%) 46%,
  hsl(32deg 100% 53%) 54%,
  hsl(32deg 100% 56%) 61%,
  hsl(32deg 100% 58%) 69%,
  hsl(33deg 100% 60%) 79%,
  hsl(34deg 100% 62%) 100%
);
  transition:
  border-color  10ms cubic-bezier(.42,0,.81,1.01),
  background-image  145ms cubic-bezier(.42,0,.81,1.01) ;

}

#prompt-button:focus {
  border-color: hsl(31 100% 44%);
  background-image: linear-gradient(
    55deg,
    hsl(30deg 100% 44%) 0%,
    hsl(31deg 99% 45%) 21%,
    hsl(31deg 98% 47%) 30%,
    hsl(31deg 97% 49%) 39%,
    hsl(32deg 97% 50%) 46%,
    hsl(32deg 100% 53%) 54%,
    hsl(32deg 100% 56%) 61%,
    hsl(32deg 100% 58%) 69%,
    hsl(33deg 100% 60%) 79%,
    hsl(34deg 100% 62%) 100%
  );
  outline: none;
}

#terms {
  border-color: hsl(240 17% 7%);
  width: 60%;
  padding: 4rem;

}
.terms-container{
  text-align: center;
  width: 100%;
  margin: 1rem 0 1rem 0;
}

.terms-header {
  text-align: left;
  color: hsl(240 13% 6%);
}

.terms-body {
  text-align: left;
  color: hsl(240 13% 6%);
}

.terms-button-container {

}

.terms-button{
  background-color: hsl(240, 16.7%, 95.3%);
  border: none;
  color: hsl(0 0% 20%);
  font-family: "clearSans", "Arial", sans-serif;
  font-size: .5rem;
}

.terms-button:hover {
  color: hsl(32 97% 50%);
  text-decoration: underline;
  cursor: pointer;
}

.terms-button:focus {
  color: hsl(32 97% 50%);
  text-decoration: underline;
  cursor: pointer;
}

#popup-container{
  display: none;
  justify-content: end;
  width: 50%;
  margin-top: 1rem;
  margin-right: 1rem;
}

#copy-popup{
  display: none;
  background-color: hsl(143, 60%, 40%);
  width: fit-content;
  height: fit-content;
  padding: .3rem;
  border-radius: 3px;
  opacity: 100%;
  transition:
  /* property name | duration | easing function */
    opacity 800ms cubic-bezier(0,.91,1,1.41);

  border-color: hsl(143, 80%, 43%);
  border-radius: 3px 3px 3px 3px;
  border-style: outset;

}

#copy-popup > p {
  font-size: .3rem;
}

/* WAMMY PHONE */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {

  .wammy-container{
    max-width: 100%;
    max-height: 80vh;
    min-height: 80vh;
  }

  .wammy-top{
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    border-radius: 20px;
  }

  .wammy-version-tag-container{
    margin-top: 1.4rem;

  }

  .wammy-version-tag {
    font-size: .2rem;
    padding: .2rem;
  }

  #wammyLogo{
    width: auto;
    padding: 0;
  }

  .wammy-logoimage {
    width: 7rem;
    /* padding: .6rem .8rem 0 0; */
    margin: 0;
    opacity: 90%;
  }

  .wammy-body {
    font-size: .39rem;
    padding: .3rem .5rem .3rem .5rem;
    margin: 10px 0 0 0;
  }

  #dia-container {
    padding: 0 .8rem 0 .8rem;
  }

  .dialogue-container{
    display: block;
    background-color: inherit;
    width: inherit;
    padding: 0;
    margin: 0;
    border-radius: 20px;
  }

  .wammy-response{
    background-color: inherit;
    font-size: .8rem;
    width: max-content;

  }

  .user-prompt{
    background-color: inherit;
    font-size: .8rem;
    margin: 3rem 0 0 0;
    width: max-content;
  }

  .prompt-container {

  }

  .prompt-form {
    width: 100%;
  }

  .prompt-section{
    position: absolute;
    bottom: inherit;
    padding: 0;
    margin: 0;
  }

  #screensaver-container {
    align-items: center;
    justify-content: center;
  }

  #terms {
    display: none;
  }

}

/* BODY */

body {
  font-size: 16px;
  background-color: hsl(240, 16.7%, 95.3%);
}

/* MAIN */

main {
  margin: 3rem;

  /* put on top of footer*/
  position: relative;
  z-index: 1;
  height: 100%;
}

/* Main PHONE QUERIES */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  main {
    margin: .5rem;
  }

}


/* BOOTSTRAP */
.row{
  /* removes default right margin on rows */
  margin-right: 0;
}


/* ALL PAGES */

#skip {
  display: none;
}

/* ALL Media Queries */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx) {
  #skip {
    display: block;
    margin: 10% 0 0 4rem;
  }
  #skip > a {
    color: #fff;
    font-family: clearSans;
    font-weight: 600;
    opacity: 10%;
    font-size: 12px;
  }
}


/* INDEX */

.index-container {
  margin: 7rem 5rem;
}

.index-header {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 5rem;
  color: white;
}

.index-body > p {
  font-size: 1.3rem;
  color: white;
}

.index-link {
  font-size: 2rem;
  color: white;
  font-family: inherit;
}


/* INDEX MEDIA QUERIES */
@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .index-container {
    margin: 4rem 3rem;
  }

.index-header {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
}

  .index-body > p {
    font-size: 0.8rem;
    color: white;
  }
}




/* ~~~~~ JAVASCRIPT ELEMENTS ~~~~~ */

/* NAV */

#nav {
  width: 100%;
  margin: 0 5rem;
}

.nav-mobile-wrapper {
  display: none;
}

.nav-link-group {
/* makes nav flex column with even spacing */
  display: flex;
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  /*margin: 0 0 0 4rem;*/
}

.nav-element {
  padding: 0 0 5px 0;
  color: white;
  margin: 3% 20px 0 0;
}

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: drop-shadow(0 5px 15px #44280E);
  filter: blur(25px)
}

.nav-element.active {
  filter: none;
  border-bottom: 2px solid white;
}


/* NAV MEDIA QUERIES */

@media screen and (max-width: 768px) and (-webkit-device-pixel-ratio: 2), (max-width: 768px) and (resolution: 3dppx){

  .nav-link-group {
    display: grid;
    justify-content: inherit;
    font-size: .9rem;
    text-align: center;
    border-bottom: none;
  }

  .nav-element {
    padding: 1.5rem;
    margin: 0 0;
    background-color: black;
    opacity: 0%;
    font-weight: 600;
  }

.nav-element:hover {
  color: white;
  text-decoration: none;
  filter: none;
  border-bottom: none;
}
  .nav-element.active {
  filter: none;
  border-bottom: none;
  color: #F8D6B2;
  font-weight: 600;
}

}


/* FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  left: 0;
  color: white;
  padding: 10em;
  font-size: .5em;
  text-align: center;
}

.footer-icon {
  padding: 0 1.3rem;
}


/* selects footer icons */
.fab, .far {
  color: white;
}

/* selects :hover footer icons */
.fab:hover, .far:hover {
  filter: blur(25px);
}

.footer-p {
  cursor: default;
  padding: 0;
  margin: 0;
}


/* TEXT */

* {
  box-sizing: border-box;
}

h1 { font-family: 'Arial', sans-serif;
    /* font-weight:;  */
    font-size: 2.488rem;
    font-weight: 500;
    margin-bottom: 3rem;
    margin-top: 0;
    color: white;
}

h2 { font-family: 'Arial', sans-serif;
    font-weight: 100;
    font-size: 1.44rem;
    margin-bottom: 1.2rem;
    margin-top: 0;
    color: white;
}

h3 {
  font-family: 'Arial', sans-serif;
  font-weight: 100;
  font-size: 0.7rem;
  margin-bottom: 0;
  margin-top: 0;
  color: white;
}


p { font-family: "clearSans", "Arial", sans-serif;
    font-size: 0.7rem;
    margin-bottom: 0;
    margin-top: 0;
    color: white;
  }

.section-link {
  font-family: "clearSans", "Arial", sans-serif;
  font-size: 2rem;
  color: #0B0D3D
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.hide {
  display: none;
}


.mono-h1 {
  font-size: calc(16px + 7vw)
}

.script-pdf{
  width: 100%;
  height: 100vh;
}

.expelled-container{
  margin: 8rem 0 0 1rem;
}
.expelled-link{
  font-family: "clearSans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: white
}


/* Color palette

  Black, #0d0d11 hsl(240 13% 6%)
  Med Black hsl(240 18% 8%)
  Light Black, #111118 hsl(240 17% 8%)
  Grey, hsl(240 18% 15%)
  Ice Grey, hsl(240, 30.3%, 87.1%)
  White, #FAFAFA hsl(0 0% 98%)
  Off-white, hsl(240, 16.7%, 95.3%)
  Blue, #2E58FF, hsl(228 100% 60%)
  Orange, #FB8804, hsl(32 97% 50%)
  Green, #29a358, hsl(143, 60%, 40%)

*/
